body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 2em;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 21px;
	font-weight: 900;
	text-transform: uppercase;
	color: #444545;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 14px;
	line-height: 135%;
	color: #444444;
}

h1,h2,h3,h4,p,ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: disc;
	margin: 0;
	padding: 0;
}

li {
	color: #8E8A8A;
	line-height: 125%;
	padding: 5px 0;
}

.section {
	margin: 20px;
}

article {
	background: #FFF;
	border-radius: 3px;
	border: 1px solid #CDCCCC;
	padding: 20px;
	margin: 0 auto;
	max-width: 500px;
}

.section--brand {
	background-image:url(../img/bluemountain.jpg);
	background-size: cover;
	width: 100%;
	height: 400px;
	text-align: center;
	margin-top: 65px;
}

nav {
	background: #1B325D;
	color: #FFF;
	margin: 0;
	padding: 10px 20px;
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

nav ul li {
	text-align: center;
}

nav ul li:first-child {
	font-weight: 900;
	width: 100%;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

nav ul li img {
	width: 100px;
}

nav ul li a {
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	color: #666666;
}

.header {
	color: #AC1322;
	text-transform: uppercase;
	margin: 20px 0 15px 0;
}

.header:nth-of-type(1) {
	margin-top: 0;
}

.header--requirements {
	margin: 20px 0 10px 0;
}

.btn {
	background: #AC1322;
	padding: 12px 30px;
	border-radius: 3px;
	color: #FFF;
	display: block;
	margin: 20px 0 0px 0;
	text-decoration: none;
	text-align: center;
}

.btn:hover {
	background: #7E101B;
}

.btn:active {
	background: #A31220;
}

.name-card .photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #666;
	float: left;
	margin-right: 10px;
}

.name-card h1 {
	line-height: 1em;
}

.name-card h1 span {
	color: #A7A9AC;
	font-size: 18px;
	text-transform: none;
	font-weight: 100;
}

.name-card p {
	display: block;
	margin-top: 20px;
}

.section--jobs {
	margin: 0;
	padding: 20px;
	background: #EEF0F0;
	border-top: 1px solid #D9DBDC;
	border-bottom: 1px solid #D9DBDC;
}

.section--jobs .salary {
	margin-bottom: 20px;
	font-weight: 900;
}

.section--jobs .small {
	font-size: 12px;
	margin-bottom: 35px;
	margin-left: 18px;
}

.section--footer {
	background: #B8C1CD;
	color: #1A3963;
	margin: 0;
	font-size: 14px;
}

.section--footer ul {
	list-style-type: none;
	margin-top: 10px;
}

.section--footer li {
	color: #1B325D;
}

.section--footer article {
	background: transparent;
	border: 0;
}

.section--footer p {
	color: #1B325D;
}

.section--footer img {
	width: 14px;
	margin-right: 10px;
}


/** {
	border: 1px solid #CCCCCC;
}*/